@page
@model FitnessProgram.Pages.Trainers.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Trainer</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Trainer.UserId" class="control-label"></label>
                <select asp-for="Trainer.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="Trainer.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer.Certification" class="control-label"></label>
                <input asp-for="Trainer.Certification" class="form-control" />
                <span asp-validation-for="Trainer.Certification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer.Specialization" class="control-label"></label>
                <input asp-for="Trainer.Specialization" class="form-control" />
                <span asp-validation-for="Trainer.Specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer.YearsExperience" class="control-label"></label>
                <input asp-for="Trainer.YearsExperience" class="form-control" />
                <span asp-validation-for="Trainer.YearsExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer.Name" class="control-label"></label>
                <input asp-for="Trainer.Name" class="form-control" />
                <span asp-validation-for="Trainer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
