@page
@model FitnessProgram.Pages.FitnessPlans.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>FitnessPlan</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FitnessPlan.PlanId" class="control-label"></label>
                <input asp-for="FitnessPlan.PlanId" class="form-control" />
                <span asp-validation-for="FitnessPlan.PlanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FitnessPlan.TrainerId" class="control-label"></label>
                <select asp-for="FitnessPlan.TrainerId" class ="form-control" asp-items="ViewBag.TrainerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FitnessPlan.UserId" class="control-label"></label>
                <select asp-for="FitnessPlan.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FitnessPlan.Name" class="control-label"></label>
                <input asp-for="FitnessPlan.Name" class="form-control" />
                <span asp-validation-for="FitnessPlan.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FitnessPlan.DurationWeeks" class="control-label"></label>
                <input asp-for="FitnessPlan.DurationWeeks" class="form-control" />
                <span asp-validation-for="FitnessPlan.DurationWeeks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
