@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <h1 class="display-4">Welcome to Your Fitness Planner!</h1>

    <div class="image-section"></div>
    <div class="image-overlay">
        <h2>Welcome to Your Fitness Journey</h2>
        <p>State-of-the-art equipment for all your fitness needs</p>
    </div>

</div>



