@page
@model IndexModel
@{
    ViewData["Title"] = "Fitness Planner";

}

<div class="text-center">
    <h1 class="display-4">Welcome to Your Fitness Planner!</h1>

    <div class="image-section"></div>
    <div class="image-overlay">
        <h2>Your Complete Fitness Planner</h2>
        <p>Organize equipment, exercises, trainers, and workout plans</p>
        <a asp-page="/FitnessPlans/Index" class="btn btn-primary">Start Planning Now</a>


    </div>

</div>



